<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <rewrite>
    <rules>
      <clear />
      <rule name="CanonicalHostNameRule1" enabled="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTP_HOST}" pattern="^idfg.idaho.gov$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://idfg.idaho.gov/ifwis/style/{R:0}" appendQueryString="true" />
      </rule>
    </rules>
  </rewrite>    
  </system.webServer>
</configuration>
